/*selector universal se aplica a todo*/
*{
    color: rgb(30, 36, 73);
    font-family: "EB Garamond", serif;
    margin:0;
    box-sizing: border-box;
}

img{
    width: 100%;
    vertical-align: middle;
}

body{
    background-image: url(../img/cabecera.jpg);
}

header {
    height: calc(100vh -3rem);
    background-image: url(../img/cabecera.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display:flex;
    align-items: center;
    padding-left: 2rem;
}

h1,
h2{
    font-family: "Urbanist", sans-serif;
    color: blue;
}

h1{
    font-size: 6rem;
    background-color:rgba(0, 140, 255, 0.5);
    border: rgb(224, 168, 203) 40px dotted;
    border-radius: 50px;
    background-image: linear-gradient(gold, navy, gold, navy);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 > i {
color:rgb(0, 132, 255)
}

h2{
    background-color: rgb(248, 255, 238);
    padding: 2rem;
    letter-spacing: 0.2em;
    margin:0 2rem;
}


p{
margin: 1rem 0;    
}

#menu > ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
    height: 3rem;
    align-items: center;
    padding: 0 2rem;
    background-color: whitesmoke;
}

#menu>ul>li>a{
    text-decoration: none;
    font-weight: bolder;
    color:black; 
}

section{
    min-height: 100vh;
    padding: 0 2rem;
}

#ciudad>div{
    display: flex; 
    align-items: center;
    gap: 2rem;
}

#ciudad > div > * {
    flex:1; 
}

#ciudad > div > figure > img{
    border-radius: 10px;
    border:red 25px solid;
}

#ciudad>div>figure:hover > img {
 transform:scale(1,1);
 filter: grayscale(100%) ;
}
   


#transportes > div {
    display: flex;
    gap: 2rem;
}

#transportes > div > figure{
    flex: 1;
}

footer>p,
footer>p>a{
    color:blue;
}

