/*selector universal se aplica a todo*/
*{
    color: rgb(30, 36, 73);
    font-family: "EB Garamond", serif;
}

body{
    background-image: url(../img/cabecera.jpg);
}

header {
    height: 80vh;
    background-image: url(../img/cabecera.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2{
    font-family: "Urbanist", sans-serif;
    color: blue;
}

h1{
    font-size: 6rem;
    background-color:rgba(0, 140, 255, 0.5);
    border: rgb(255, 0, 157) 40px dotted;
    border-radius: 50px;
    background-image: linear-gradient(gold, navy, gold, navy);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 > i {
color:rgb(0, 132, 255)
}

h2{
    background-color: rgb(209, 27, 209);
}

#menu>ul>li>a{
    text-decoration: none;
    font-weight: bolder;
}

footer>p,
footer>p>a{
    color:blue;
}
  
